name: Reusable python type check

on:
  workflow_call:
    inputs:
      APP_NAME:
        required: true
        type: string


jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11.6' 
      - name: Prepare environment for linting
        run: |
          cd apps/${{ inputs.APP_NAME }} && \
          pip install poetry && \
          poetry install && \
          export PYTHONPATH=${PYTHONPATH}:$(pwd)/src:$(pwd)/tests && \
          poetry run pytest tests -vv tests

